*{
    margin: 0px;
    padding: 0px;
  }
  body{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    background-color: #1e2747;
    color: white;
  }
  
  /*header*/
  @media (max-width:2280px){
      header{
          display: flex;
          height: 40px;
          align-items: center;
          padding: 30px;
          background-color: #1e2747;
          justify-content:space-between;
      }
      .logo {
          display: flex;
          align-items: center;
        }
        
      .dogg{
          width: 70px;
          margin: 20px 10px;	
      }
      .nombre{
          width: 190px;
          padding-top: 5px;
      filter:contrast(0%);
      }
      
      .nav-menu ul{
          text-decoration: none;
          color: white;
          
        }
      ul{
            display: flex;
            
      }
      ul a{
          border-radius: 10px;
          text-decoration: none;
          color: white;
          font-family:Arial, Helvetica, sans-serif;
          padding: 6px;
          font-size: 15px; ;
      }
      
      .nav-login{
          color:white;
          background-color: red;
      }
      
      .nav-login:hover{
          color:black;
          background-color: aliceblue;
      }
        
      ul a{
          margin: 0 10px;
          transition-duration: 550ms;
        
      }
      ul a:hover{
          color: black;
          background-color:  #7072ca;
          color: white;
        }
  
  
  }
  /*header responsive*/
  .menu-icon img{
      width: 30px;
      height: 30px;
      border-radius: 2px;
  }
  .menu-icon, #check{
      display: none;
  }
  @media (max-width:915px){
      .checkbtn{
          display: block;
      }
      .menu-icon{
          display: block;
          position: fixed;
          top: 30px;
          right: 20px;
      }
      .nav-menu ul {
          display: block;
          position: fixed;
          top: 90px;
          left: -100%;
          background: black;
          width: 100%;
          height: 100vh;
          right: 0;
      }
    ul a{
      border-radius: 0;
    }
      .nav-menu ul a{
          padding: 2rem;
          display: flex;
          justify-content: center;
          margin: 0;
      background-color: #1e2747;
      }
      .nav-menu ul:last-child{
          background: none;
          padding-top: 2rem;
          padding: 0rem;
      }
      #check:checked ~ ul{
          left: 0;
          transition: all .25s;
      }
  }

.cuerpo{
    margin: 100px 0px;
    padding: 0px 30px;
}
@media screen and (max-width: 600px){
    .cuerpo{
        margin: 100px 0px;
        margin-bottom: 200px;
        padding: 0px 30px;
    }
}

/*carta 1*/
.cuerpo>.cuadro_1{
    background: white;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.titulo_1{
    text-align: center;
    margin: auto;
    color: black;
    grid-column: 1/2;
    width: 600px;
}
.titulo_1 h1{
    font-size: 300%;
}
.descripcion_1{
    text-align: center;
    background: #b7a9e0;
    transition-duration: 500ms;
    padding: 13% 50px;
    grid-column: 2/3;
    color: black;
}
.descripcion_1:hover{
    background-color: #3f4b77;
    margin-left: 40px;
    color: white;
}
@media screen and (max-width: 1100px){
    .titulo_1{
        width:300px;
    }
    
}
@media screen and (max-width: 1000px){
    .titulo_1{
        width:400px;
    }
    .descripcion_1{
        padding: 13% 20px;
    }
}  
@media screen and (max-width: 900px){
    .titulo_1{
        width:300px;
    }
    .titulo_1 h1{
        font-size: 250%;
    }
    .descripcion_1{
        padding: 18% 20px;
    }
    .descripcion_1 h2{
        font-size: 130%;
    }
    .descripcion_1:hover{
        background-color: #3f4b77;
        margin-left: 10px;
        color: white;
    }
}
@media screen and (max-width: 710px){
    .cuerpo>.cuadro_1{
        background: white;
        height: 400px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 20px;
    }
    .titulo_1{
        text-align: center;
        padding-top: 30px;
        color: black;
        grid-column: 1/2;
        height: 90px;
    }
    .titulo_1 h1{
        font-size: 300%;
    }
    .descripcion_1{
        text-align: center;
        background: #b7a9e0;
        transition-duration: 500ms;
        padding: 13% 50px;
        grid-column: 1/2;
        color: black;
    }
    .descripcion_1:hover{
        background-color: #3f4b77;
        margin-left: 0px;
        margin-top: 20px;
        color: white;
    }
}
@media screen and (max-width: 360px){
    .cuerpo>.cuadro_1{
        background: white;
        height: 400px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 20px;
    }
    .titulo_1{
        text-align: center;
        padding-top: 30px;
        color: black;
        grid-column: 1/2;
        height: 60px;
        width: 30%;
    }
    .titulo_1 h1{
        font-size: 200%;
    }
    .descripcion_1{
        width: 92.2%;
        text-align: center;
        background: #b7a9e0;
        transition-duration: 500ms;
        padding: 13% 10px;
        grid-column: 1/2;
        color: black;
    }
    .descripcion_1 h2{
        font-size: 20px;
    }
    .descripcion_1:hover{
        background-color: #3f4b77;
        margin-left: 0px;
        margin-top: 20px;
        color: white;
    }
}

/*carta 2*/
.cuerpo>.cuadro_2{
    margin-top: 200px;
    background: white;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.titulo_2{
    text-align: center;
    margin: auto;
    color: black;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 600px;
}
.titulo_2 h1{
    font-size: 300%;
}
.descripcion_2{
    text-align: center;
    background: #b7a9e0;
    transition-duration: 500ms;
    padding: 18% 50px;
    grid-column: 1/2;
    grid-row: 1/2;
    color: black;
}
.descripcion_2:hover{
    background-color: #3f4b77;
    margin-right: 40px;
    color: white;
}
@media screen and (max-width: 1100px){
    .titulo_2{
        width:300px;
    }
    
}
@media screen and (max-width: 1000px){
    .titulo_2{
        width:400px;
    }
    .descripcion_2{
        padding: 25% 20px;
    }
}  
@media screen and (max-width: 900px){
    .titulo_2{
        width:300px;
    }
    .titulo_2 h1{
        font-size: 250%;
    }
    .descripcion_2{
        padding: 30% 20px;
    }
    .descripcion_2 h2{
        font-size: 130%;
    }
    .descripcion_2:hover{
        background-color: #3f4b77;
        margin-right: 10px;
        color: white;
    }
}
@media screen and (max-width: 710px){
    .cuerpo>.cuadro_2{
        background: white;
        height: 400px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 20px;
    }
    .titulo_2{
        text-align: center;
        padding-top: 30px;
        color: black;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 90px;
    }
    .titulo_2 h1{
        font-size: 300%;
    }
    .descripcion_2{
        text-align: center;
        background: #b7a9e0;
        transition-duration: 500ms;
        padding: 13% 50px;
        grid-column: 1/2;
        grid-row: 2/3;
        color: black;
    }
    .descripcion_2:hover{
        background-color: #3f4b77;
        margin-right: 0px;
        margin-top: 20px;
        color: white;
    }
}
@media screen and (max-width: 360px){
    .cuerpo>.cuadro_2{
        background: white;
        height: 400px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 20px;
    }
    .titulo_2{
        text-align: center;
        padding-top: 30px;
        color: black;
        grid-column: 1/2;
        height: 60px;
        width: 70%;
    }
    .titulo_2 h1{
        font-size: 200%;
    }
    .descripcion_2{
        width: 92.2%;
        text-align: center;
        background: #b7a9e0;
        transition-duration: 500ms;
        padding: 13% 10px;
        grid-column: 1/2;
        grid-row: 2/3;
        color: black;
    }
    .descripcion_2 h2{
        font-size: 20px;
    }
    .descripcion_2:hover{
        background-color: #3f4b77;
        margin-right: 0px;
        margin-top: 20px;
        color: white;
    }
}
/*carta 3*/
.cuerpo>.cuadro_3{
    margin-top: 200px;
    background: white;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.titulo_3{
    text-align: center;
    margin: auto;
    color: black;
    grid-column: 1/2;
    width: 600px;
}
.titulo_3 h1{
    font-size: 300%;
}
.descripcion_3{
    text-align: center;
    background: #b7a9e0;
    transition-duration: 500ms;
    padding: 13% 50px;
    grid-column: 2/3;
    color: black;
}
.descripcion_3:hover{
    background-color: #3f4b77;
    margin-left: 40px;
    color: white;
}

@media screen and (max-width: 1100px){
    .titulo_3{
        width:300px;
    }
    
}
@media screen and (max-width: 1000px){
    .titulo_3{
        width:400px;
    }
    .descripcion_3{
        padding: 13% 20px;
    }
}  
@media screen and (max-width: 900px){
    .titulo_3{
        width:300px;
    }
    .titulo_3 h1{
        font-size: 250%;
    }
    .descripcion_3{
        padding: 18% 20px;
    }
    .descripcion_3 h2{
        font-size: 130%;
    }
    .descripcion_3:hover{
        background-color: #3f4b77;
        margin-left: 10px;
        color: white;
    }
}
@media screen and (max-width: 710px){
    .cuerpo>.cuadro_3{
        margin-top: 100px;
        background: white;
        height: 400px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 20px;
    }
    .titulo_3{
        text-align: center;
        padding-top: 30px;
        color: black;
        grid-column: 1/2;
        height: 90px;
    }
    .titulo_3 h1{
        font-size: 300%;
    }
    .descripcion_3{
        text-align: center;
        background: #b7a9e0;
        transition-duration: 500ms;
        padding: 13% 50px;
        grid-column: 1/2;
        color: black;
    }
    .descripcion_3:hover{
        background-color: #3f4b77;
        margin-left: 0px;
        margin-top: 20px;
        color: white;
    }
}
@media screen and (max-width: 360px){
    .cuerpo>.cuadro_3{
        background: white;
        height: 400px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 20px;
    }
    .titulo_3{
        text-align: center;
        padding-top: 30px;
        color: black;
        grid-column: 1/2;
        height: 60px;
        width: 30%;
    }
    .titulo_3 h1{
        font-size: 200%;
    }
    .descripcion_3{
        width: 92.2%;
        text-align: center;
        background: #b7a9e0;
        transition-duration: 500ms;
        padding: 13% 10px;
        grid-column: 1/2;
        color: black;
    }
    .descripcion_3 h2{
        font-size: 20px;
    }
    .descripcion_3:hover{
        background-color: #3f4b77;
        margin-left: 0px;
        margin-top: 20px;
        color: white;
    }
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}