<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo1.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PELIS DOG&reg; - EQUIPO</title>
    <link rel="shortcut icon" href="./img/icono.JPG" type="image/x-icon">
</head>
<body>
    <body>
        <header>
            <div class="logo">
                <img class="dogg" src="img/peliis doog.png" alt="" >
                <img class="nombre" src="img/nombre_doog.png" alt="">
            </div>
            
    
            <div class="nav-menu">
                <input type="checkbox" id="check">
                 <label for="check" class="checkbtn">
                     <i class="menu-icon"><img src="img/bars.1" alt="">
                        </i>
                 </label>
                <ul>
                    <a href="../PELICULAS/peliculas.html" class="nav-link">INICIO</a>
                    <a href="../CATALOGO/index.html" class="nav-link">CATALOGO</a>
                    <a href="../NOSOTROS/NOSOTROS.html" class="nav-link">NOSOTROS</a>
                    <a href="../EQUIPO/equipo.html" class="nav-link">EQUIPO</a>
                    <a href="../CONTACTO/contactoss13.html" class="nav-link">CONTACTO</a>
                    <a href="../../controllers/validar.php" class="nav-login">MENÚ PRINCIPAL</a>
                </ul>    
            </div>
        </header>
        
        <main>
           <div class="contenedor">
               <h1 class="titulo-equipo">NUESTRO EQUIPO DE DESARROLLADORES</h1>
               <div class="contenido-equipo">
                   <article>
                       <div class="foto-redes">
                           <div class="foto">
                               <img src="img/stilo2.jpeg">
                           </div>
                           
                           <div class="redes">
                                <h2>Kelly Alisson Ccasa</h2>
                                <p><b>CARRERA:</b> Ingenieria de Sistemas e Informatica<br>
                                <b>Cod:</b> U18205781</p>
                               <a href="" class="fa fa-facebook" id="facebook"></a>
                               <a href="" class="fa fa-twitter" id="twitter"></a>
                               <a href="" class="fa fa-youtube-play" id="youtube"></a>
                           </div> 
                       </div>
                       <div class="btn"><a  class="flecha"><span class="fa fa-sort-desc"></span></a></div>
                       <div class="informacion">
                           <p>Encargada del boton equipo, detalle del equipo de manera detallada y descripcion de los desarrolladores que conforman los creadores del proyecto.</p>
                       </div>
                   </article>
                   
                   
                   <article>
                       <div class="foto-redes">
                           <div class="foto">
                               <img src="img/stilo4.jpeg">
                           </div>
                           
                           <div class="redes">
                                <h2>Juan Angel Suarez</h2>
                                <p><b>CARRERA:</b> Ingenieria de Sistemas e Informatica<br>
                                <b>Cod:</b> U20203407</p>
                               <a href="" class="fa fa-facebook" id="facebook"></a>
                               <a href="" class="fa fa-twitter" id="twitter"></a>
                               <a href="" class="fa fa-youtube-play" id="youtube"></a>
                           </div> 
                       </div>
                       <div class="btn"><a  class="flecha"><span class="fa fa-sort-desc"></span></a></div>
                       <div class="informacion">
                           <p>Encargado de la creacion de codigo en HTML,css ,las ventanas de iniciar sesión y el registro de usuarios, mediante los formularios .</p>
                       </div>
                   </article> 
                   
                   <article>
                       <div class="foto-redes">
                           <div class="foto">
                               <img src="img/stilo3.jpeg">
                           </div>
                           
                           <div class="redes">
                                <h2>Dennys Antonio Murillo</h2>
                                <p><b>CARRERA:</b> Ingenieria de Sistemas e Informatica<br>
                                <b>Cod:</b> U19312319</p>
                               <a href="" class="fa fa-facebook" id="facebook"></a>
                               <a href="" class="fa fa-twitter" id="twitter"></a>
                               <a href="" class="fa fa-youtube-play" id="youtube"></a>
                           </div> 
                       </div>
                       <div class="btn"><a  class="flecha"><span class="fa fa-sort-desc"></span></a></div>
                       <div class="informacion">
                           <p>Encargado de desarrollar los paneles, graficos e imagenes de las películas en HTML</p>
                       </div>
                   </article>
                   
                   <article>
                       <div class="foto-redes">
                           <div class="foto">
                               <img src="img/stilo1.jpeg">
                           </div>
                           
                           <div class="redes">
                                <h2>Alvaro Joaquín León  </h2>
                                <p><b>CARRERA:</b> Ingenieria de Software<br>
                                <b>Cod:</b> U20200029</p>
                               <a href="" class="fa fa-facebook" id="facebook"></a>
                               <a href="" class="fa fa-twitter" id="twitter"></a>
                               <a href="" class="fa fa-youtube-play" id="youtube"></a>
                           </div> 
                       </div>
                       <div class="btn"><a class="flecha"><span class="fa fa-sort-desc"></span></a></div>
                       <div class="informacion">
                           <p>Encargado de diseñar en HTML, la página de inicio de manera entendible para los usuarios que vayan a interactuar. </p>
                       </div>
                   </article>                                                                                                                                 
                   
                  
                   
                                    
                   
                   
                   
               </div>
               
               
           </div>
            
        </main>
        
   <!--::::Pie de Pagina::::::-->
   <footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="img/peliis doog.png" alt="Logo de SLee Dw" width="60px" height="180px">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Pelis Dog fue creado por el Grupo 10 del Curso del Taller Programación Web. </p>
            <p>Es un servicio de Streaming por suscripción que les permite a sus usuarios ver series y películas sin publicidad, en un dispositivo con conexión a internet.</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100082458677045" class="fa fa-facebook"></a>
                <a target="_blank"  href="https://www.instagram.com/peliss_dog/" class="fa fa-instagram"></a>
                <a target="_blank" href="https://twitter.com/AdeDiaz88373560" class="fa fa-twitter"></a>
                <a target="_blank" href="https://chat.whatsapp.com/HEGTPGRE4tiDCP0boewusy" class="fa fa-facebook"></a>
                
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>PELIS DOG</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>

<!--::::CHATTBOT::::::-->
<script>
    window.addEventListener('mouseover', initLandbot, { once: true });
    window.addEventListener('touchstart', initLandbot, { once: true });
    var myLandbot;
    function initLandbot() {
      if (!myLandbot) {
        var s = document.createElement('script');s.type = 'text/javascript';s.async = true;
        s.addEventListener('load', function() {
          var myLandbot = new Landbot.Livechat({
            configUrl: 'https://chats.landbot.io/v3/H-1262140-BEDWZOIDRHGRAT91/index.json',
          });
        });
        s.src = 'https://cdn.landbot.io/landbot-3/landbot-3.0.0.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
    }
    </script>
    </body>
    
</body>
